If:
  PathMatch: [src/.*\.h, src/.*\.c]
CompileFlags:
  Add: [
    -DRZ_IMPLEMENTATION, -Isrc, -xc, -std=gnu23,
    -Wall, -Wextra, -Wfloat-equal, -Wundef, -Wpointer-arith,
    -Wswitch-default, -Wswitch-enum,
    -Wpedantic, -pedantic,
  ]
